

#box { 
    width: 30px;
    height: 30px; 
    position: absolute;
    left: 600px; 
    top: 200px; 
}

h2 {
color: chartreuse;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


#box2 { 
    width: 30px;
    height: 30px; 
    position: absolute;
    left: 200px; 
    top: 200px; 
}

body

{
    background-color: black
}